BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
NamespaceIndentation: All
IndentCaseLabels: true
IndentCaseBlocks: false
IndentPPDirectives: None
AccessModifierOffset: 0
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpacesInContainerLiterals: false
AlignAfterOpenBracket: Align
AlignOperands: false
AlignTrailingComments: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
AlwaysBreakTemplateDeclarations: No
SortIncludes: true
IncludeBlocks: Regroup
Cpp11BracedListStyle: true
PenaltyBreakComment: 300
PenaltyReturnTypeOnItsOwnLine: 200
AlwaysBreakBeforeMultilineStrings: false
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true

