[submodule "external/replxx"]
    path = external/replxx
    url = https://github.com/AmokHuginnsson/replxx.git
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
